[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalendar = "*"
croniter = "*"
geopy = "*"
requests = "*"
freezegun = "*"

[dev-packages]
pytest = "*"
coverage = "*"
types-croniter = "*"
procrastitask = {file = ".", editable = true}
exceptiongroup = "*"

[scripts]
test = "pytest"
