[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalendar = "*"
croniter = "*"

[dev-packages]
pytest = "*"
procrastitask = {file = ".", editable = true}

[scripts]
test = "pytest"
